rect {
  fill: none;
  stroke: #fff;
}

text {
    pointer-events: none;
}

#chart {
  margin: auto;
  position: relative;
  width: 960px;
}

.bulle {
    margin: auto;
    position: relative;
    width: 960px;
    height: 2em;
    padding-top: 1em;
    background-color: #EFEBA9;
}