rect {
  fill: none;
  stroke: #fff;
}

.bulle {
    width: 90%;
    height: 2em;
    min-width: 100px;
    padding-left: 1em;
    padding-top: 1em;
    position: relative;
    z-index: 2;
    border-color: black;
    background-color: #EFEBA9;
}